div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px,solid,black;
    display: inline;
}

#box1{
    position: static;
    top: 50px;
    bottom: 50px;

}

#box2{
    position: relative;
    top: 50px;
    left: 20;

    bottom: 50;
}

#box3{
    position: sticky;
    top: 0px;
    left: 20px;
}

#box4{
    position: fixed;
    top: 0;
}

