*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333
        line-height: 1.6;
}

:root{
    --pc : #ff7e5f;
    --s : #feb47b;
    --normal : #276460;
    --tc: #fff;
    --bc: #1a1a1d
}

.header{
    display: flex;
   justify-content: space-between;
   /* align-items: center;*/
    padding: 20px 10%;
    background-color: var(--bc);
    color: var(--tc);
}

.header h1 {
    color: var(--pc);
}

.nav-links{
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a{
    color: var(--tc);
    text-decoration: none;
}

.nav-links{
    color: white;
    text-decoration: none;
    font-weight: 700;
    transition: color 1s ease-in;
    
}

.nav-links a:hover{
    color: red;
}

.hero{
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(
        to right,
        var(--pc),
        var(--s)
    );
}

.hero .btn-primary {
    text-decoration: none;
    padding: 12px 30px;
    margin-top: 20px;
    background-color: var(--normal);
    color: var(--tc);
    border-radius: 30px;
    font-weight: bold;
    transition: transform 0.3s,;
}

.hero .btn-primary:hover
{
    transform: scale(1,1);
}

.destinations{
    padding: 60px 10%;
    background-color: var(--tc);
    text-align: center;

}

.destination-container{
    display: grid;
    grid-template-columns: repeat(autofit,minmax(250px,1fr));
    gap: 20px;
    margin-top: 30px;
}

.destination-card{
    position: relative;
    height: 200px;

    background-size: cover;
    background-position: center;
    border-radius: 5%;
    overflow: hidden;
    color: var(--tc);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
}